{
  "openapi": "3.0.3",
  "info": {
    "title": "IPBun API",
    "description": "A simple, fast, and reliable public IP address API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.ipbun.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/v1/ip": {
      "get": {
        "summary": "Get IPv4 Address",
        "description": "Returns the client's public IPv4 address",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["text", "json", "jsonp"],
              "default": "text"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "192.168.1.1"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ip6": {
      "get": {
        "summary": "Get IPv6 Address",
        "description": "Returns the client's public IPv6 address",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["text", "json", "jsonp"],
              "default": "text"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "2001:db8::1"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ip64": {
      "get": {
        "summary": "Get Universal IP Address",
        "description": "Returns the client's public IP address (IPv4 or IPv6)",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["text", "json", "jsonp"],
              "default": "text"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "192.168.1.1"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/health": {
      "get": {
        "summary": "Health Check",
        "description": "Check the health status of the API",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IPResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "The client's public IP address",
            "example": "192.168.1.1"
          },
          "type": {
            "type": "string",
            "enum": ["ipv4", "ipv6"],
            "description": "IP address type"
          },
          "geolocation": {
            "$ref": "#/components/schemas/Geolocation"
          }
        }
      },
      "Geolocation": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "example": "United States"
          },
          "country_code": {
            "type": "string",
            "example": "US"
          },
          "city": {
            "type": "string",
            "example": "New York"
          },
          "region": {
            "type": "string",
            "example": "New York"
          },
          "timezone": {
            "type": "string",
            "example": "America/New_York"
          },
          "coordinates": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number",
                "example": 40.7128
              },
              "longitude": {
                "type": "number",
                "example": -74.0060
              }
            }
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "healthy"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2024-01-15T10:30:00Z"
          },
          "version": {
            "type": "string",
            "example": "1.0.0"
          }
        }
      }
    }
  }
}